@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
    
    
}
.pHead{
    color: white;
    font-weight: 3000;
    text-shadow: black 6px 2px 5px;
    
}





.main{
    background-color: #12232E;
    border-radius: 10px;
    position: absolute;
    box-shadow: 2px 2px #8BC6EC ;

}


.main::after{
    background: linear-gradient(#2196f3 , #e91e63);
    clip-path: circle(15% at 5% 10%);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.pname{
    font-size: 30px;
    text-transform: capitalize;
    top: 5px;
    position: absolute;
    color:white;
    text-shadow:2px 3px 5px;
}
.btns{
    top: 20px;
}
.img1{
    position: absolute;
    top: 150px;
    width: 280px;
    height: 280px;
}
.img2{
    position: absolute;
    top: 3px;
    width: 50px;
    height: 50px;
}

.notes{
    color: white;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    transition:transform .7s;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.btn1{
    
    background-color: white;
    color: black;
    cursor: pointer;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    z-index: 4;
}

.notes:hover, .pyq:hover , .yt:hover{
    transform: scale(0.9);
    
    cursor: pointer;
}


.announce{
    background-color: #12232E;
    
    position: absolute;
    
    border-radius: 10px;
    
    margin-left: 2px;
    
}


.suggest{
    width: 180px;
    height: 100px;
    margin-left: 9px;
    margin-top: 10px;
    position: absolute;
    top: 40%;
    text-align: left;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    
}
.suggestText{
    top: 480%;
    position: absolute;
    text-align: center;
    color: white;
}
.sImg{
    top: 70px;
    left:1px;
    position: absolute;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .img1{
    bottom: 60%;
    position: absolute;
} */
/* .box{
    position: absolute;
    top: 30%;
} */
.submit{
    background-color: turquoise;
    border: solid white 3px;
    width: 100px;
    position: absolute;
    top: 84%;
    right: 24%;
    
}
.submit:hover{
    cursor: pointer;
}

